@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h3>Blazor 本のサンプルアプリ</h3>
<ul>
	<li><a href="/Sample01">①一覧表示</a></li>
	<li><a href="/Sample02">②列カスタマイズ(列連結、テンプレート描画)</a></li>
	<li><a href="/Sample03">③ソート</a></li>
	<li><a href="/Sample04">④ページング</a>（<a href="/Sample04b">（参考）大量ページング（仮想化）</a>）</li>
	<li><a href="/Sample05">⑤フィルタリング</a></li>
	<li><a href="/Sample06">⑥スタイリング</a></li>
	<li><a href="/Sample07">⑦行選択+著者一覧表示</a></li>
	<li><a href="/Sample08">⑧画面遷移</a></li>
	<li><a href="/Sample09">⑨コンポーネント化</a></li>
	<li><a href="/Sample10">⑩データ入力検証</a></li>
	<li><a href="/Sample11">⑪楽観同時実行制御機能つきデータ更新</a></li>
</ul>
